.nav {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav button {
  display: inline;
  padding: 12px;
  margin-right:8px;
  background-color: #282c34;
  color: #00ff00;
  border-color: #282c34;
  border-style: solid;
  font-size: 25px;
  font-weight: 600;
  outline: none;
}

.nav button:hover {
  background-color: #00ff00;
  color: #282c34;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h2 {
  color: #00bfff;
  line-height: 300%;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
